.heading {
  &-1 {
    @include textTypohraphy(48, 1.25, 700);
    letter-spacing: -0.03em;
  }

  &-2 {
    @include textTypohraphy(32, 1.25, 700);
    letter-spacing: -0.03em;
  }

  &-3 {
    @include textTypohraphy(24, 1.35, 700);
    letter-spacing: -0.02em;
  }
}

.text {
  &-1 {
    @include textTypohraphy(16, 1.5, 400);
  }

  &-2 {
    @include textTypohraphy(12, 1.5, 400);
  }
}
