$transition-duration: 0.3s;

$color-brand: #bf7506;
$color-dark: #211b12;
$color-brand500: #dd9c3c;
$color-dark500: #83807c;
$color-brand500-light: #f4debe;
$color-dark500-light: #e7e6e4;
$color-white: #fff;

$bp-tablet: 768px;
$bp-desktop: 1280px;

